interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    base64encoded: false
    content: '{"id":26895237,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/26895237/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/26895237","app_id":214874,"app_slug":"mergify-syffe","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","actions":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add","workflow_job","workflow_run"],"created_at":"2022-06-27T12:48:22.000Z","updated_at":"2023-08-29T15:43:18.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    base64encoded: false
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2023-11-15T12:32:36Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/453968595
  response:
    base64encoded: false
    content: '{"id":453968595,"node_id":"R_kgDOGw8C0w","name":"functional-testing-repo-Syffe","full_name":"mergifyio-testing/functional-testing-repo-Syffe","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/deployments","created_at":"2022-01-31T10:50:25Z","updated_at":"2023-01-31T19:30:30Z","pushed_at":"2023-11-21T15:50:17Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-Syffe.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-Syffe.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe","homepage":null,"size":181,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":4,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":4,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"}},"network_count":4,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.com/events/github.com/214874/453968595/20231121155018-test_no_configuration_changed_with_weird_base_sha
  response:
    base64encoded: false
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214874/453968595/20231121155018-test_no_configuration_changed_with_weird_base_sha?counter=1
  response:
    base64encoded: false
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214874/453968595/20231121155018-test_no_configuration_changed_with_weird_base_sha?counter=5
  response:
    base64encoded: false
    content: '[{"id":"ae8fee20-8885-11ee-83a0-c6561cc32feb","hook_id":"365600849","type":"push","payload":{"ref":"refs/heads/20231121155018/test_no_configuration_changed_with_weird_base_sha/main","before":"0000000000000000000000000000000000000000","after":"4459868b943078f0ef0e6fba785b2b4a66efb228","repository":{"id":453968595,"node_id":"R_kgDOGw8C0w","name":"functional-testing-repo-Syffe","full_name":"mergifyio-testing/functional-testing-repo-Syffe","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214874/453968595/20231121155018-test_no_configuration_changed_with_weird_base_sha?counter=6
  response:
    base64encoded: false
    content: '[{"id":"aee7f890-8885-11ee-90d0-45dfda490328","hook_id":"365600849","type":"check_suite","payload":{"action":"requested","check_suite":{"id":18382579579,"node_id":"CS_kwDOGw8C088AAAAER6_new","head_branch":"20231121155018/test_no_configuration_changed_with_weird_base_sha/main","head_sha":"4459868b943078f0ef0e6fba785b2b4a66efb228","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/check-suites/18382579579","before":"0000000000000000000000000000000000000000","after":"4459868b943078f0ef0e6fba785b2b4a66efb228","pull_requests":[],"app":{"id":214874,"slug":"mergify-syffe","node_id":"A_kwHOAmplV84AA0da","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-Syffe","description":"Mergify
      testing installation for Syffe","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-syffe","created_at":"2022-06-27T12:48:14Z","updated_at":"2023-08-29T15:42:41Z","permissions":{"actions":"write","administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add","workflow_job","workflow_run"]},"created_at":"2023-11-21T15:50:24Z","updated_at":"2023-11-21T15:50:24Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/check-suites/18382579579/check-runs","head_commit":{"id":"4459868b943078f0ef0e6fba785b2b4a66efb228","tree_id":"7f6b8f68b1a3205b4189458b5f9c5d92a51a3354","message":"initial
      commit","timestamp":"2023-11-21T15:50:21Z","author":{"name":"Mergify","email":"108278383+mergify-syffe[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108278383+mergify-syffe[bot]@users.noreply.github.com"}}},"repository":{"id":453968595,"node_id":"R_kgDOGw8C0w","name":"functional-testing-repo-Syffe","full_name":"mergifyio-testing/functional-testing-repo-Syffe","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_ur[...]
[...]
- request:
    body: '{"base": "20231121155018/test_no_configuration_changed_with_weird_base_sha/main",
      "head": "mergifyio-testing:20231121155018/test_no_configuration_changed_with_weird_base_sha/integration/pr1",
      "title": "test_no_configuration_changed_with_weird_base_sha: pull request n1
      from integration", "body": "test_no_configuration_changed_with_weird_base_sha:
      pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls
  response:
    base64encoded: false
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/14828","id":1611256324,"node_id":"PR_kwDOGw8C085gCdIE","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/issues/14828","number":14828,"state":"open","locked":false,"title":"test_no_configuration_changed_with_weird_base_sha:
      pull request n1 from integration","user":{"login":"mergify-syffe[bot]","id":108278383,"node_id":"BOT_kgDOBnQybw","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-syffe%5Bbot%5D","html_url":"https://github.com/apps/mergify-syffe","followers_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-syffe%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_no_configuration_changed_with_weird_base_sha:
      pull request n1 from integration","created_at":"2023-11-21T15:50:31Z","updated_at":"2023-11-21T15:50:31Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/14828/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/14828/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/issues/14828/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/statuses/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031","head":{"label":"mergifyio-testing:20231121155018/test_no_configuration_changed_with_weird_base_sha/integration/pr1","ref":"20231121155018/test_no_configuration_changed_with_weird_base_sha/integration/pr1","sha":"6e8e77cd61fe68f990c1c071dbcfc045eb0ed031","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":453968595,"node_id":"R_kgDOGw8C0w","name":"functional-testing-repo-Syffe","full_name":"mergifyio-testing/functional-testing-repo-Syffe","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214874/453968595/20231121155018-test_no_configuration_changed_with_weird_base_sha?counter=19
  response:
    base64encoded: false
    content: '[{"id":"b42fbf40-8885-11ee-91f7-630b6ae43bcb","hook_id":"365600849","type":"pull_request","payload":{"action":"opened","number":14828,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/14828","id":1611256324,"node_id":"PR_kwDOGw8C085gCdIE","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functiona[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/453968595/pulls/14828
  response:
    base64encoded: false
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/14828","id":1611256324,"node_id":"PR_kwDOGw8C085gCdIE","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/pull/14828.di[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/contents/.mergify.yml?ref=20231121155018%2Ftest_no_configuration_changed_with_weird_base_sha%2Fmain
  response:
    base64encoded: false
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"2de0a160e23b6d1f3c109064d1582978e6c69e22","size":108,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/contents/.mergify.yml?ref=20231121155018/test_no_configuration_changed_with_weird_base_sha/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/blob/20231121155018/test_no_configuration_changed_with_weird_base_sha/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/blobs/2de0a160e23b6d1f3c109064d1582978e6c69e22","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-Syffe/20231121155018/test_no_configuration_changed_with_weird_base_sha/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBjb21tZW50Ogog\nICAgICBtZXNzYWdlOiBoZWxsbwogIGNvbmRpdGlvbnM6CiAgLSBiYXNlPW1h\naW4KICBuYW1lOiBmb29iYXIK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/contents/.mergify.yml?ref=20231121155018/test_no_configuration_changed_with_weird_base_sha/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/git/blobs/2de0a160e23b6d1f3c109064d1582978e6c69e22","html":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/blob/20231121155018/test_no_configuration_changed_with_weird_base_sha/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/commits/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031/check-runs?per_page=100
  response:
    base64encoded: false
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
      x-accepted-github-permissions:
      - checks=read
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/pulls/14828/files?per_page=100
  response:
    base64encoded: false
    content: '[{"sha":"6320cd248dd8aeaab759d5871f8781b5c0505172","filename":"f0","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/blob/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031/f0","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/raw/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031/f0","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Syffe/contents/f0?ref=6e8e77cd61fe68f990c1c071dbcfc045eb0ed031","patch":"@@
      -0,0 +1 @@\n+data\n\\ No newline at end of file"},{"sha":"6320cd248dd8aeaab759d5871f8781b5c0505172","filename":"f1","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/blob/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031/f1","raw_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/raw/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031/f1","contents_url":"https://api.github.com/repos/mergifyio-testin[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/453968595/pulls/14828/files?per_page=100&page=2
  response:
    base64encoded: false
    content: '[{"sha":"6320cd248dd8aeaab759d5871f8781b5c0505172","filename":"f45","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/mergifyio-testing/functional-testing-repo-Syffe/blob/6e8e77cd61fe68f990c1c071dbcfc045eb0ed031/f45","raw_url":"https://github.com/mergifyio-testing/[...]
- request:
    body: ''
    headers:
    method: GET
[...]
