*.pyc
.tox
*.egg-info
AUTHORS
cover
.coverage
dist
.eggs
.pytest_cache
.mypy_cache
test.env
prod.env
api-schemas
.git
.docker
.venv
delete_branch_on_merge.lock
postgresql_anonymizer_rules.sql
empty_database.sql
tests-logs
