Julien Danjou <jd@mergify.com> <julien@danjou.info>
Julien Danjou <jd@mergify.com> <jd@mergify.io>
Guillaume Risbourg <guillaume.risbourg@mergify.com>
Guillaume Risbourg <guillaume.risbourg@mergify.com> <Greesb@users.noreply.github.com>
Guillaume Risbourg <guillaume.risbourg@mergify.com> <guillaumerisbourg@gmail.com>
Mehdi Abaakouk <sileht@mergify.com> <sileht@sileht.net>
Mehdi Abaakouk <sileht@mergify.com> <sileht@users.noreply.github.com>
mergify-deploy-bot <83351113+mergify-deploy-bot@users.noreply.github.com>
Jules Vautier <jules.vautier@mergify.com>
Fabien Martinet <97906012+Syffe@users.noreply.github.com>
Camille Clarret <camille.clarret@mergify.io> <camille.clarret@gmail.com>
Camille Clarret <camille.clarret@mergify.io> <CamClrt@github.com>
Guillaume Ojardias <guillaume.ojardias@mergify.io>
Guillaume Ojardias <guillaume.ojardias@mergify.io> <7831777+GuillaumeOj@users.noreply.github.com>
Erwan Simonetti <erwan.simonetti@mergify.com> <erwan.simonetti@epitech.eu>
Erwan Simonetti <erwan.simonetti@mergify.com> <72025341+ErwanSimonetti@users.noreply.github.com>
Mathieu Papazian <mathieu.papazian@mergify.com> <mathieu.papazian@mergify.io>
Mathieu Papazian <mathieu.papazian@mergify.com> <63056255+Zerdanes@users.noreply.github.com>
mergify[bot] <37929162+mergify[bot]@users.noreply.github.com> <mergify[bot]@users.noreply.github.com>
Charly Laurent <charly.laurent@mergify.com> <douglas.blackwood@protonmail.com>