interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":26895396,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/26895396/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/26895396","app_id":214877,"app_slug":"mergify-greesb","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"],"created_at":"2022-06-27T12:53:43.000Z","updated_at":"2022-07-20T10:18:27.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-09-15T11:37:27Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/500849499
  response:
    content: '{"id":500849499,"node_id":"R_kgDOHdpbWw","name":"functional-testing-repo-Greesb","full_name":"mergifyio-testing/functional-testing-repo-Greesb","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/deployments","created_at":"2022-06-07T13:21:39Z","updated_at":"2022-07-08T14:34:13Z","pushed_at":"2022-09-27T08:44:51Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-Greesb.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-Greesb.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb","homepage":null,"size":7,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":true,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/214877/500849499
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214877/500849499?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214877/500849499?counter=3
  response:
    content: '[{"id":"ab6161f6-3e40-11ed-961a-93b4ab51f39b","type":"push","payload":{"ref":"refs/heads/20220927084453/test_queue_cant_create_tmp_pull_request/main","before":"0000000000000000000000000000000000000000","after":"af419380705a60e4e68b38411526b6ee9538ff14","repository":{"id":500849499,"node_id":"R_kgDOHdpbWw","name":"functional-testing-repo-Greesb","full_name":"mergifyio-testing/functional-testing-repo-Greesb","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url[...]
- request:
    body: '{"default_branch": "20220927084453/test_queue_cant_create_tmp_pull_request/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb
  response:
    content: '{"id":500849499,"node_id":"R_kgDOHdpbWw","name":"functional-testing-repo-Greesb","full_name":"mergifyio-testing/functional-testing-repo-Greesb","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","u[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214877/500849499?counter=6
  response:
    content: '[{"id":"acb0cb50-3e40-11ed-8266-541f59dc5e19","type":"repository","payload":{"action":"edited","changes":{"default_branch":{"from":"main"}},"repository":{"id":500849499,"node_id":"R_kgDOHdpbWw","name":"functional-testing-repo-Greesb","full_name":"mergifyio-testing/functional-testing-repo-Greesb","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.git[...]
- request:
    body: '{"base": "20220927084453/test_queue_cant_create_tmp_pull_request/main",
      "head": "mergifyio-testing:20220927084453/test_queue_cant_create_tmp_pull_request/integration/pr1",
      "title": "test_queue_cant_create_tmp_pull_request: pull request n1 from integration",
      "body": "test_queue_cant_create_tmp_pull_request: pull request n1 from integration",
      "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/4712","id":1068282461,"node_id":"PR_kwDOHdpbW84_rLJd","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4712","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4712.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4712.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/issues/4712","number":4712,"state":"open","locked":false,"title":"test_queue_cant_create_tmp_pull_request:
      pull request n1 from integration","user":{"login":"mergify-greesb[bot]","id":108278707,"node_id":"BOT_kgDOBnQzsw","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-greesb%5Bbot%5D","html_url":"https://github.com/apps/mergify-greesb","followers_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-greesb%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_queue_cant_create_tmp_pull_request:
      pull request n1 from integration","created_at":"2022-09-27T08:45:05Z","updated_at":"2022-09-27T08:45:05Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/4712/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/4712/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/issues/4712/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/statuses/96dc1fd34bc89289e801973a240a8c1d77b06d72","head":{"label":"mergifyio-testing:20220927084453/test_queue_cant_create_tmp_pull_request/integration/pr1","ref":"20220927084453/test_queue_cant_create_tmp_pull_request/integration/pr1","sha":"96dc1fd34bc89289e801973a240a8c1d77b06d72","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":500849499,"node_id":"R_kgDOHdpbWw","name":"functional-testing-repo-Greesb","full_name":"mergifyio-testing/functional-testing-repo-Greesb","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyi[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214877/500849499?counter=8
  response:
    content: '[{"id":"b0d595d0-3e40-11ed-9380-dec827af3e5e","type":"check_suite","payload":{"action":"requested","check_suite":{"id":8487315113,"node_id":"CS_kwDOHdpbW88AAAAB-eImqQ","head_branch":"20220927084453/test_queue_cant_create_tmp_pull_request/integration/pr2","head_sha":"c4e55780a9fdf6f9c466ed6427196e330c9a9fc0","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/check-suites/8487315113","before":"0000000000000000000000000000000000000000","after":"c4e55780a9fdf6f9c466ed6427196e330c9a9fc0","pull_requests":[],"app":{"id":214877,"slug":"mergify-greesb","node_id":"A_kwHOAmplV84AA0dd","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-Greesb","description":"Mergify
      testing installation for Greesb","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-greesb","created_at":"2022-06-27T12:53:37Z","updated_at":"2022-06-27T12:53:37Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"]},"created_at":"2022-09-27T08:45:08Z","updated_at":"2022-09-27T08:45:08Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/check-suites/8487315113/check-runs","head_commit":{"id":"c4e55780a9fdf6f9c466ed6427196e330c9a9fc0","tree_id":"cbc2ce78ee55b94d56d92a64571fcf2cd008c663","message":"test_queue_cant_create_tmp_pull_request:
      pull request n2 from integration","timestamp":"2022-09-27T08:45:06Z","author":{"name":"Mergify","email":"108278707+mergify-greesb[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108278707+mergify-greesb[bot]@users.noreply.github.com"}}},"repository":{"id":500849499,"node_id":"R_kgDOHdpbWw","name":"functional-testing-repo-Greesb","full_name":"mergifyio-testing/functional-testing-repo-Greesb","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214877/500849499?counter=9
  response:
    content: '[{"id":"b11fe540-3e40-11ed-8b16-a6181de3613d","type":"pull_request","payload":{"action":"opened","number":4713,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/4713","id":1068282520,"node_id":"PR_kwDOHdpbW84_rLKY","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4713","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4713.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4713.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functiona[...]
[...]
- request:
    body: '{"name": "queue", "color": "000000"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/labels
  response:
    content: '{"id":4581957692,"node_id":"LA_kwDOHdpbW88AAAABERsgPA","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/labels/queue","name":"queue","color":"000000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/labels/queue
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 201
- request:
    body: '{"labels": ["queue"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/issues/4712/labels
  response:
    content: '[{"id":4581957692,"node_id":"LA_kwDOHdpbW88AAAABERsgPA","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/labels/queue","name":"queue","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/500849499/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/4714","id":1068282604,"node_id":"PR_kwDOHdpbW84_rLLs","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4714","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4714.diff","patch_url":"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/500849499/pulls/4712
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/pulls/4712","id":1068282461,"node_id":"PR_kwDOHdpbW84_rLJd","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4712","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/pull/4712.diff","patch_url":"https://g[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"66b8e69a079ceebd9fd9fa4e2dc643313fbba5be","size":356,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/contents/.mergify.yml?ref=20220927084453/test_queue_cant_create_tmp_pull_request/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/blob/20220927084453/test_queue_cant_create_tmp_pull_request/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/blobs/66b8e69a079ceebd9fd9fa4e2dc643313fbba5be","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-Greesb/20220927084453/test_queue_cant_create_tmp_pull_request/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBxdWV1ZToKICAg\nICAgbmFtZTogZGVmYXVsdAogICAgICBwcmlvcml0eTogaGlnaAogIGNvbmRp\ndGlvbnM6CiAgLSBiYXNlPTIwMjIwOTI3MDg0NDUzL3Rlc3RfcXVldWVfY2Fu\ndF9jcmVhdGVfdG1wX3B1bGxfcmVxdWVzdC9tYWluCiAgLSBsYWJlbD1xdWV1\nZQogIG5hbWU6IE1lcmdlIHByaW9yaXR5IGhpZ2gKcXVldWVfcnVsZXM6Ci0g\nYWxsb3dfaW5wbGFjZV9jaGVja3M6IHRydWUKICBjb25kaXRpb25zOgogIC0g\nc3RhdHVzLXN1Y2Nlc3M9Y29udGludW91cy1pbnRlZ3JhdGlvbi9mYWtlLWNp\nCiAgbmFtZTogZGVmYXVsdAogIHNwZWN1bGF0aXZlX2NoZWNrczogNQo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/contents/.mergify.yml?ref=20220927084453/test_queue_cant_create_tmp_pull_request/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-Greesb/git/blobs/66b8e69a079ceebd9fd9fa4e2dc643313fbba5be","html":"https://github.com/mergifyio-testing/functional-testing-repo-Greesb/blob/20220927084453/test_queue_cant_create_tmp_pull_request/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
[...]
