interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/app
  response:
    content: '{"id":331826,"slug":"mergify-samuelbillaud","node_id":"A_kwHOAmplV84ABRAy","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-samuelbillaud","description":"Mergify
      testing installation for samuelbillaud","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-samuelbillaud","created_at":"2023-05-10T07:38:13Z","updated_at":"2023-06-06T11:39:02Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add","workflow_job","workflow_run"],"installations_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/app/installations?per_page=100
  response:
    content: '[{"id":37343127,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/37343127/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/37343127","app_id":331826,"app_slug":"mergify-samuelbillaud","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add","workflow_job","workflow_run"],"created_at":"2023-05-10T07:38:21.000Z","updated_at":"2023-06-06T11:39:03.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/users/mergify-samuelbillaud[bot]
  response:
    content: '{"login":"mergify-samuelbillaud[bot]","id":133094394,"node_id":"BOT_kgDOB-7b-g","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D","html_url":"https://github.com/apps/mergify-samuelbillaud","followers_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/received_events","type":"Bot","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2023-05-10T07:38:13Z","updated_at":"2023-05-10T07:38:13Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":37343127,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-tes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2023-06-15T11:38:57Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/638828474
  response:
    content: '{"id":638828474,"node_id":"R_kgDOJhO_ug","name":"functional-testing-repo-samuelbillaud","full_name":"mergifyio-testing/functional-testing-repo-samuelbillaud","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/deployments","created_at":"2023-05-10T07:38:00Z","updated_at":"2023-05-10T07:38:00Z","pushed_at":"2023-07-04T19:26:33Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-samuelbillaud.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud","homepage":null,"size":87,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":3,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"}},"network_count":1,"subscribers_count":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/331826/638828474/20230705160033-test_required_status_checks_strict_incompatibility_with_batch_size
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/331826/638828474/20230705160033-test_required_status_checks_strict_incompatibility_with_batch_size?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/331826/638828474/20230705160033-test_required_status_checks_strict_incompatibility_with_batch_size?counter=4
  response:
    content: '[{"id":"1509620e-1b4d-11ee-91ac-edae94e90259","hook_id":"413851368","type":"push","payload":{"ref":"refs/heads/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main","before":"0000000000000000000000000000000000000000","after":"32245ee5ed906b60fd260457dd5064b59667d61c","repository":{"id":638828474,"node_id":"R_kgDOJhO_ug","name":"functional-testing-repo-samuelbillaud","full_name":"mergifyio-testing/functional-testing-repo-samuelbillaud","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing",[...]
- request:
    body: '{"required_status_checks": {"strict": true, "contexts": []}, "required_pull_request_reviews":
      null, "restrictions": null, "enforce_admins": false}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main/protection
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main/protection","required_status_checks":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main/protection/required_status_checks","strict":true,"contexts":[],"contexts_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main/protection/required_status_checks/contexts","checks":[]},"required_signatures":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main/protection/required_signatures","enabled":false},"enforce_admins":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/branches/20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main/protection/enforce_admins","enabled":false},"required_linear_history":{"enabled":false},"allow_force_pushes":{"enabled":false},"allow_deletions":{"enabled":false},"block_creations":{"enabled":false},"required_conversation_resolution":{"enabled":false},"lock_branch":{"enabled":false},"allow_fork_syncing":{"enabled":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=luke-cage-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/331826/638828474/20230705160033-test_required_status_checks_strict_incompatibility_with_batch_size?counter=5
  response:
    content: '[{"id":"154db530-1b4d-11ee-9981-b62c544ecfc1","hook_id":"413851368","type":"check_suite","payload":{"action":"requested","check_suite":{"id":14082174118,"node_id":"CS_kwDOJhO_us8AAAADR1zspg","head_branch":"20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main","head_sha":"32245ee5ed906b60fd260457dd5064b59667d61c","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/check-suites/14082174118","before":"0000000000000000000000000000000000000000","after":"32245ee5ed906b60fd260457dd5064b59667d61c","pull_requests":[],"app":{"id":331826,"slug":"mergify-samuelbillaud","node_id":"A_kwHOAmplV84ABRAy","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/[...]
[...]
- request:
    body: '{"base": "20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/main",
      "head": "mergifyio-testing:20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/integration/pr1",
      "title": "test_required_status_checks_strict_incompatibility_with_batch_size:
      pull request n1 from integration", "body": "test_required_status_checks_strict_incompatibility_with_batch_size:
      pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls/119","id":1421370789,"node_id":"PR_kwDOJhO_us5UuGWl","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud/pull/119","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud/pull/119.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud/pull/119.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/issues/119","number":119,"state":"open","locked":false,"title":"test_required_status_checks_strict_incompatibility_with_batch_size:
      pull request n1 from integration","user":{"login":"mergify-samuelbillaud[bot]","id":133094394,"node_id":"BOT_kgDOB-7b-g","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D","html_url":"https://github.com/apps/mergify-samuelbillaud","followers_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-samuelbillaud%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_required_status_checks_strict_incompatibility_with_batch_size:
      pull request n1 from integration","created_at":"2023-07-05T16:00:42Z","updated_at":"2023-07-05T16:00:42Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls/119/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls/119/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/issues/119/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/statuses/28966c7abf0cb257569004f8f7d7899910de19dc","head":{"label":"mergifyio-testing:20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/integration/pr1","ref":"20230705160033/test_required_status_checks_strict_incompatibility_with_batch_size/integration/pr1","sha":"28966c7abf0cb257569004f8f7d7899910de19dc","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":638828474,"node_id":"R_kgDOJhO_ug","name":"functional-testing-repo-samuelbillaud","full_name":"mergifyio-testing/functional-testing-repo-samuelbillaud","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/331826/638828474/20230705160033-test_required_status_checks_strict_incompatibility_with_batch_size?counter=10
  response:
    content: '[{"id":"18147650-1b4d-11ee-8eca-f3e7001c7cd5","hook_id":"413851368","type":"pull_request","payload":{"action":"opened","number":119,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-samuelbillaud/pulls/119","id":1421370789,"node_id":"PR_kwDOJhO_us5UuGWl","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud/pull/119","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud/pull/119.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-samuelbillaud/pull/119.patch","issue_url":"https://api.github.com/repos/mer[...]
[...]
[...]
