interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    base64encoded: false
    content: '{"id":26894537,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/26894537/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/26894537","app_id":214863,"app_slug":"mergify-sileht","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","actions":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add","workflow_job","workflow_run"],"created_at":"2022-06-27T12:22:13.000Z","updated_at":"2023-08-29T15:43:16.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    base64encoded: false
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2023-11-15T12:32:36Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399426199
  response:
    base64encoded: false
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/deployments","created_at":"2021-08-24T10:36:34Z","updated_at":"2023-01-31T19:06:12Z","pushed_at":"2023-11-21T11:45:16Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-sileht.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-sileht.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","homepage":null,"size":98,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":31,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":2,"open_issues":31,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":true,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"}},"network_count":2,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.com/events/github.com/214863/399426199/20231121114515-TQAWPEItest_queue_inplace_uptodate_autosquash_true
  response:
    base64encoded: false
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214863/399426199/20231121114515-TQAWPEItest_queue_inplace_uptodate_autosquash_true?counter=1
  response:
    base64encoded: false
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214863/399426199/20231121114515-TQAWPEItest_queue_inplace_uptodate_autosquash_true?counter=4
  response:
    base64encoded: false
    content: '[{"id":"72a550fc-8863-11ee-81a2-3c8b5752d92d","hook_id":"365596432","type":"push","payload":{"ref":"refs/heads/20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main","before":"0000000000000000000000000000000000000000","after":"97a9acd959f973541366eee3185fd87d461582c0","repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20231121114515%2FTQAWPEItest_queue_inplace_uptodate_autosquash_true%2Fmain
  response:
    base64encoded: false
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"077a765e0cf601bae3291e57ffd79580d79f30f1","size":409,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/077a765e0cf601bae3291e57ffd79580d79f30f1","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-sileht/20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBxdWV1ZToKICAg\nICAgYXV0b3NxdWFzaDogdHJ1ZQogICAgICBuYW1lOiBkZWZhdWx0CiAgICAg\nIHVwZGF0ZV9ib3RfYWNjb3VudDogbWVyZ2lmeS10ZXN0NAogICAgICB1cGRh\ndGVfbWV0aG9kOiByZWJhc2UKICBjb25kaXRpb25zOgogIC0gYmFzZT0yMDIz\nMTEyMTExNDUxNS9UUUFXUEVJdGVzdF9xdWV1ZV9pbnBsYWNlX3VwdG9kYXRl\nX2F1dG9zcXVhc2hfdHJ1ZS9tYWluCiAgLSBsYWJlbD1xdWV1ZQogIG5hbWU6\nIEF1dG9tYXRpYyBtZXJnZQpxdWV1ZV9ydWxlczoKLSBhbGxvd19pbnBsYWNl\nX2NoZWNrczogdHJ1ZQogIGNvbmRpdGlvbnM6CiAgLSBzdGF0dXMtc3VjY2Vz\ncz1jb250aW51b3VzLWludGVncmF0aW9uL2Zha2UtY2kKICBuYW1lOiBkZWZh\ndWx0Cg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs/077a765e0cf601bae3291e57ffd79580d79f30f1","html":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/blob/20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214863/399426199/20231121114515-TQAWPEItest_queue_inplace_uptodate_autosquash_true?counter=5
  response:
    base64encoded: false
    content: '[{"id":"72fd0b30-8863-11ee-9847-6706514d3689","hook_id":"365596432","type":"check_suite","payload":{"action":"requested","check_suite":{"id":18374273084,"node_id":"CS_kwDOF87Cl88AAAAERzEoPA","head_branch":"20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main","head_sha":"97a9acd959f973541366eee3185fd87d461582c0","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/18374273084","before":"0000000000000000000000000000000000000000","after":"97a9acd959f973541366eee3185fd87d461582c0","pull_requests":[],"app":{"id":214863,"slug":"mergify-sileht","node_id":"A_kwHOAmplV84AA0dP","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-sileht","description":"Mergify
      testing installation for sileht","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-sileht","created_at":"2022-06-27T12:22:05Z","updated_at":"2023-10-30T18:04:44Z","permissions":{"actions":"write","administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add","workflow_job","workflow_run"]},"created_at":"2023-11-21T11:45:20Z","updated_at":"2023-11-21T11:45:20Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/18374273084/check-runs","head_commit":{"id":"97a9acd959f973541366eee3185fd87d461582c0","tree_id":"e5edc13358b2821d8ea8cf432d429a4a63574f17","message":"initial
      commit","timestamp":"2023-11-21T11:45:18Z","author":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com"}}},"repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/merg[...]
[...]
- request:
    body: '{"base": "20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/main",
      "head": "mergifyio-testing:20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/integration/pr1",
      "title": "TQAWPEItest_queue_inplace_uptodate_autosquash_true: pull request n1
      from integration", "body": "TQAWPEItest_queue_inplace_uptodate_autosquash_true:
      pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls
  response:
    base64encoded: false
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/38306","id":1610796339,"node_id":"PR_kwDOF87Cl85gAs0z","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/38306","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/38306.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/38306.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/38306","number":38306,"state":"open","locked":false,"title":"TQAWPEItest_queue_inplace_uptodate_autosquash_true:
      pull request n1 from integration","user":{"login":"mergify-sileht[bot]","id":108276933,"node_id":"BOT_kgDOBnQsxQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-sileht%5Bbot%5D","html_url":"https://github.com/apps/mergify-sileht","followers_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"TQAWPEItest_queue_inplace_uptodate_autosquash_true:
      pull request n1 from integration","created_at":"2023-11-21T11:45:28Z","updated_at":"2023-11-21T11:45:28Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/38306/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/38306/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/38306/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/da997ef86ae10f479b89fc351d88880365b5916a","head":{"label":"mergifyio-testing:20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/integration/pr1","ref":"20231121114515/TQAWPEItest_queue_inplace_uptodate_autosquash_true/integration/pr1","sha":"da997ef86ae10f479b89fc351d88880365b5916a","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214863/399426199/20231121114515-TQAWPEItest_queue_inplace_uptodate_autosquash_true?counter=18
  response:
    base64encoded: false
    content: '[{"id":"782cdd10-8863-11ee-9f14-9f430136bc19","hook_id":"365596432","type":"pull_request","payload":{"action":"opened","number":38306,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/38306","id":1610796339,"node_id":"PR_kwDOF87Cl85gAs0z","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/38306","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/38306.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/38306.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/funct[...]
[...]
- request:
    body: '{"name": "Summary", "head_sha": "da997ef86ae10f479b89fc351d88880365b5916a",
      "status": "in_progress", "started_at": "2023-11-21T11:45:31.111608+00:00", "details_url":
      "http://localhost:3000/github/mergifyio-testing/repo/functional-testing-repo-sileht/event-logs?pullRequestNumber=38306",
      "output": {"title": "Your rules are under evaluation", "summary": "Be patient,
      the page will be updated soon."}, "external_id": "38306"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs
  response:
    base64encoded: false
    content: '{"id":18888117131,"name":"Summary","node_id":"CR_kwDOF87Cl88AAAAEZdHLiw","head_sha":"da997ef86ae10f479b89fc351d88880365b5916a","external_id":"38306","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs/18888117131","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/runs/18888117131","details_url":"http://localhost:3000/github/mergifyio-testing/repo/functional-testing-repo-sileht/event-logs?pullRequestNumber=38306","status":"in_progress","conclusion":null,"started_at":"2023-11-21T11:45:31Z","completed_at":null,"output":{"title":"Your
      rules are under evaluation","summary":"Be patient, the page will be updated
      soon.","text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-runs/18888117131/annotations"},"check_suite":{"id":18374274759},"app":{"id":214863,"slug":"mergify-sileht","node_id":"A_kwHOAmplV84AA0dP","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.com/events/github.com/214863/399426199/20231121114515-TQAWPEItest_queue_inplace_uptodate_autosquash_true?counter=19
  response:
    base64encoded: false
[...]
