interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":27486990,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/27486990/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/27486990","app_id":220767,"app_slug":"mergify-julesvautier","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"],"created_at":"2022-07-18T13:39:51.000Z","updated_at":"2022-07-20T12:04:44.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-03-15T14:57:16Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/515200050
  response:
    content: '{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/deployments","created_at":"2022-07-18T13:39:26Z","updated_at":"2022-07-18T13:39:26Z","pushed_at":"2022-07-20T12:55:44Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-JulesVautier.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-JulesVautier.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=2
  response:
    content: '[{"id":"4dbdabf4-082b-11ed-88ef-a02619ec2419","type":"push","payload":{"ref":"refs/heads/20220720125554/test_check_run_timeout/main","before":"0000000000000000000000000000000000000000","after":"487161f2277441850fde3ba4647ea1314cf897c4","repository":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","f[...]
- request:
    body: '{"default_branch": "20220720125554/test_check_run_timeout/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier
  response:
    content: '{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=3
  response:
    content: '[{"id":"4ed6a860-082b-11ed-8943-2a285a20594b","type":"repository","payload":{"action":"edited","changes":{"default_branch":{"from":"main"}},"repository":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"htt[...]
- request:
    body: '{"base": "20220720125554/test_check_run_timeout/main", "head": "mergifyio-testing:20220720125554/test_check_run_timeout/integration/pr1",
      "title": "test_check_run_timeout: pull request n1 from integration", "body":
      "test_check_run_timeout: pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/98","id":1002147735,"node_id":"PR_kwDOHrVUMs47u4-X","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/98","number":98,"state":"open","locked":false,"title":"test_check_run_timeout:
      pull request n1 from integration","user":{"login":"mergify-julesvautier[bot]","id":109530297,"node_id":"BOT_kgDOBodMuQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D","html_url":"https://github.com/apps/mergify-julesvautier","followers_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_check_run_timeout:
      pull request n1 from integration","created_at":"2022-07-20T12:56:05Z","updated_at":"2022-07-20T12:56:05Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/98/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/98/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/98/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/statuses/6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3","head":{"label":"mergifyio-testing:20220720125554/test_check_run_timeout/integration/pr1","ref":"20220720125554/test_check_run_timeout/integration/pr1","sha":"6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/us[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=5
  response:
    content: '[{"id":"51056f40-082b-11ed-88d3-e3db0df69a1b","type":"pull_request","payload":{"action":"opened","number":98,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/98","id":1002147735,"node_id":"PR_kwDOHrVUMs47u4-X","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98.patch","issue_url":"https://api.github.com/repos/mergifyio-t[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/515200050/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/98","id":1002147735,"node_id":"PR_kwDOHrVUMs47u4-X","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98.diff","[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/515200050/pulls/98
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/98","id":1002147735,"node_id":"PR_kwDOHrVUMs47u4-X","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98.diff","patch_url":[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"05ba0bda98e9d0ad1d7667cfb90bd2ef8c40098e","size":124,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=20220720125554/test_check_run_timeout/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/blob/20220720125554/test_check_run_timeout/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/blobs/05ba0bda98e9d0ad1d7667cfb90bd2ef8c40098e","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-JulesVautier/20220720125554/test_check_run_timeout/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBwb3N0X2NoZWNr\nOiB7fQogIGNvbmRpdGlvbnM6CiAgLSBjaGVjay10aW1lZC1vdXQ9bGF6eS1j\naQogIG5hbWU6IGNoZWNrLXJ1bi10aW1lb3V0LXN0YXRlCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=20220720125554/test_check_run_timeout/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/blobs/05ba0bda98e9d0ad1d7667cfb90bd2ef8c40098e","html":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/blob/20220720125554/test_check_run_timeout/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/commits/6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=5a6b2cf946b87d359d23fad02b0a83bcc4432cc2
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"05ba0bda98e9d0ad1d7667cfb90bd2ef8c40098e","size":124,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=5a6b2cf946b87d359d23fad02b0a83bcc4432cc[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify/config.yml?ref=5a6b2cf946b87d359d23fad02b0a83bcc4432cc2
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.github/mergify.yml?ref=5a6b2cf946b87d359d23fad02b0a83bcc4432cc2
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/98/comments?per_page=100
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/branches/20220720125554%2Ftest_check_run_timeout%2Fmain/protection
  response:
    content: '{"message":"Branch not protected","documentation_url":"https://docs.github.com/rest/reference/repos#get-branch-protection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=luke-cage-preview; format=json
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/commits/6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3/status?per_page=100
  response:
    content: '{"state":"pending","statuses":[],"sha":"6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3","total_count":0,"repository":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesV[...]
- request:
    body: '{"name": "Rule: check-run-timeout-state (post_check)", "head_sha": "6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3",
      "status": "completed", "started_at": "2022-07-20T12:56:10.817977+00:00", "details_url":
      "https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98/checks",
      "output": {"title": "''check-run-timeout-state'' failed", "summary": "- [ ]
      `check-timed-out=lazy-ci`\n"}, "external_id": "user-created-checkrun", "conclusion":
      "failure", "completed_at": "2022-07-20T12:56:10.818025+00:00"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/check-runs
  response:
    content: '{"id":7429599922,"name":"Rule: check-run-timeout-state (post_check)","node_id":"CR_kwDOHrVUMs8AAAAButaysg","head_sha":"6bced8f8a6e54a96a33247f9fdfaca8cb9aaafa3","external_id":"user-created-checkrun","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/check-runs/7429599922","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/runs/7429599922","details_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/98/checks","status":"completed","conclusion":"failure","started_at":"2022-07-20T12:56:10Z","completed_at":"2022-07-20T12:56:10Z","output":{"title":"''check-run-timeout-state''
[...]
