interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":27094102,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/27094102/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/27094102","app_id":217024,"app_slug":"mergify-douglasblackwood","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"],"created_at":"2022-07-04T12:25:54.000Z","updated_at":"2022-07-19T15:11:03.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-10-17T12:46:47Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/510349721
  response:
    content: '{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/deployments","created_at":"2022-07-04T12:25:38Z","updated_at":"2022-07-04T12:25:38Z","pushed_at":"2022-11-09T08:19:09Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-DouglasBlackwood.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221109081912-test_checks_default
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221109081912-test_checks_default?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221109081912-test_checks_default?counter=4
  response:
    content: '[{"id":"33a74070-6007-11ed-84f7-00fb20307cf5","type":"check_suite","payload":{"action":"requested","check_suite":{"id":9207125611,"node_id":"CS_kwDOHmtRmc8AAAACJMmWaw","head_branch":"20221109081912/test_checks_default/main","head_sha":"da7a7d1aff19d219e80d6b01ee44de8dd2be4443","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/check-suites/9207125611","before":"0000000000000000000000000000000000000000","after":"da7a7d1aff19d219e80d6b01ee44de8dd2be4443","pull_requests":[],"app":{"id":217024,"slug":"mergify-douglasblackwood","node_id":"A_kwHOAmplV84AA0_A","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-DouglasBlackwood","description":"Mergify
      testing installation for DouglasBlackwood","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-douglasblackwood","created_at":"2022-07-04T12:25:48Z","updated_at":"2022-07-04T12:25:48Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"]},"created_at":"2022-11-09T08:19:16Z","updated_at":"2022-11-09T08:19:16Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/check-suites/9207125611/check-runs","head_commit":{"id":"da7a7d1aff19d219e80d6b01ee44de8dd2be4443","tree_id":"b6be642bfaadf63c441cd709f98bf07b27ae91e5","message":"initial
      commit","timestamp":"2022-11-09T08:19:14Z","author":{"name":"Mergify","email":"108674049+mergify-douglasblackwood[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108674049+mergify-douglasblackwood[bot]@users.noreply.github.com"}}},"repository":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221109081912-test_checks_default?counter=5
  response:
    content: '[{"id":"33bce9ac-6007-11ed-88f4-4b133653ead5","type":"push","payload":{"ref":"refs/heads/20221109081912/test_checks_default/unrelated","before":"0000000000000000000000000000000000000000","after":"da7a7d1aff19d219e80d6b01ee44de8dd2be4443","repository":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_ur[...]
- request:
    body: '{"default_branch": "20221109081912/test_checks_default/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood
  response:
    content: '{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/405[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221109081912-test_checks_default?counter=8
  response:
    content: '[{"id":"34ac7b70-6007-11ed-93b3-64421ce0f420","type":"repository","payload":{"action":"edited","changes":{"default_branch":{"from":"main"}},"repository":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
[...]
- request:
    body: '{"base": "20221109081912/test_checks_default/main", "head": "mergifyio-testing:20221109081912/test_checks_default/integration/pr1",
      "title": "test_checks_default: pull request n1 from integration", "body": "Fixes
      MRGFY-123", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/772","id":1115684627,"node_id":"PR_kwDOHmtRmc5Cf_8T","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/772","number":772,"state":"open","locked":false,"title":"test_checks_default:
      pull request n1 from integration","user":{"login":"mergify-douglasblackwood[bot]","id":108674049,"node_id":"BOT_kgDOBno8AQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D","html_url":"https://github.com/apps/mergify-douglasblackwood","followers_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"Fixes
      MRGFY-123","created_at":"2022-11-09T08:19:22Z","updated_at":"2022-11-09T08:19:22Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/772/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/772/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/772/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/statuses/64b273b572ee648b6fa793a2658844e5eb15910c","head":{"label":"mergifyio-testing:20221109081912/test_checks_default/integration/pr1","ref":"20221109081912/test_checks_default/integration/pr1","sha":"64b273b572ee648b6fa793a2658844e5eb15910c","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221109081912-test_checks_default?counter=14
  response:
    content: '[{"id":"3769c6b0-6007-11ed-8f8d-ed945e53e959","type":"pull_request","payload":{"action":"opened","number":772,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/772","id":1115684627,"node_id":"PR_kwDOHmtRmc5Cf_8T","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772.patch","issue_url":"https://api.github.c[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/510349721/pulls/772
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/772","id":1115684627,"node_id":"PR_kwDOHmtRmc5Cf_8T","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/772.di[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"c1dac98e18175a2a6f9626def7a226fe10a7530a","size":302,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=20221109081912/test_checks_default/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/blob/20221109081912/test_checks_default/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/blobs/c1dac98e18175a2a6f9626def7a226fe10a7530a","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/20221109081912/test_checks_default/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBwb3N0X2NoZWNr\nOiB7fQogIGNvbmRpdGlvbnM6CiAgLSBiYXNlPTIwMjIxMTA5MDgxOTEyL3Rl\nc3RfY2hlY2tzX2RlZmF1bHQvbWFpbgogIC0gJyN0aXRsZT4xMCcKICAtICcj\ndGl0bGU8MTAwJwogIC0gJyNib2R5PDQwOTYnCiAgLSAnI2ZpbGVzPDEwMCcK\nICAtIGJvZHl+PSg/bSleKEZpeGVzfFJlbGF0ZWR8Q2xvc2VzKSAoTUVSR0lG\nWS1FTkdJTkV8TVJHRlkpLQogIC0gLWxhYmVsPWlnbm9yZS1ndWlkZWxpbmUK\nICBuYW1lOiBib2R5IG5lZWQgc2VudHJ5IHRpY2tldAo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=20221109081912/test_checks_default/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/blobs/c1dac98e18175a2a6f9626def7a226fe10a7530a","html":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/blob/20221109081912/test_checks_default/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/commits/64b273b572ee648b6fa793a2658844e5eb15910c/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=13bc3f4f6067da64cf7b76e4f138814e351c475d
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"c1dac98e18175a2a6f9626def7a226fe10a7530a","size":302,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=13bc3f4f6067da64cf7b76e4f138814[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify/config.yml?ref=13bc3f4f6067da64cf7b76e4f138814e351c475d
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
[...]
