interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":27486990,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/27486990/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/27486990","app_id":220767,"app_slug":"mergify-julesvautier","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"],"created_at":"2022-07-18T13:39:51.000Z","updated_at":"2022-07-20T12:04:44.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-07-21T03:54:07Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/515200050
  response:
    content: '{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/deployments","created_at":"2022-07-18T13:39:26Z","updated_at":"2022-07-18T13:39:26Z","pushed_at":"2022-07-29T10:44:15Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-JulesVautier.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-JulesVautier.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=4
  response:
    content: '[{"id":"e80dc126-0f3d-11ed-9bf3-197f84fd4385","type":"push","payload":{"ref":"refs/heads/20220729125644/test_dependabot_attributes/main","before":"0000000000000000000000000000000000000000","after":"c105ce835771dcd19c40b9fa274b91144e7eae10","repository":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","f[...]
- request:
    body: '{"default_branch": "20220729125644/test_dependabot_attributes/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier
  response:
    content: '{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=5
  response:
    content: '[{"id":"e8692520-0f3d-11ed-8648-791bbf2f90e6","type":"check_suite","payload":{"action":"requested","check_suite":{"id":7579579585,"node_id":"CS_kwDOHrVUMs8AAAABw8c0wQ","head_branch":"20220729125644/test_dependabot_attributes/main","head_sha":"c105ce835771dcd19c40b9fa274b91144e7eae10","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/check-suites/7579579585","before":"0000000000000000000000000000000000000000","after":"c105ce835771dcd19c40b9fa274b91144e7eae10","pull_requests":[],"app":{"id":220767,"slug":"mergify-julesvautier","node_id":"A_kwHOAmplV84AA15f","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-JulesVautier","description":"Mergify
      testing installation for JulesVautier","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-julesvautier","created_at":"2022-07-18T13:39:40Z","updated_at":"2022-07-18T13:39:40Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"]},"created_at":"2022-07-29T12:56:48Z","updated_at":"2022-07-29T12:56:48Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/check-suites/7579579585/check-runs","head_commit":{"id":"c105ce835771dcd19c40b9fa274b91144e7eae10","tree_id":"d6b796d40beeb3b86e64995d0a16a05957388152","message":"initial
      commit","timestamp":"2022-07-29T12:56:46Z","author":{"name":"Mergify","email":"109530297+mergify-julesvautier[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"109530297+mergify-julesvautier[bot]@users.noreply.github.com"}}},"repository":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergif[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=6
  response:
    content: '[{"id":"e8f2a070-0f3d-11ed-8745-3ce51924ea86","type":"repository","payload":{"action":"edited","changes":{"default_branch":{"from":"main"}},"repository":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"htt[...]
- request:
    body: '{"base": "20220729125644/test_dependabot_attributes/main", "head": "mergifyio-testing:20220729125644/test_dependabot_attributes/integration/pr1",
      "title": "test_dependabot_attributes: pull request n1 from integration", "body":
      "test_dependabot_attributes: pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/173","id":1011955622,"node_id":"PR_kwDOHrVUMs48UTem","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/173","number":173,"state":"open","locked":false,"title":"test_dependabot_attributes:
      pull request n1 from integration","user":{"login":"mergify-julesvautier[bot]","id":109530297,"node_id":"BOT_kgDOBodMuQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D","html_url":"https://github.com/apps/mergify-julesvautier","followers_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-julesvautier%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_dependabot_attributes:
      pull request n1 from integration","created_at":"2022-07-29T12:56:51Z","updated_at":"2022-07-29T12:56:51Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/173/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/173/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/issues/173/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/statuses/46c796071b44c9556adfa99982b63dd7db63a8b3","head":{"label":"mergifyio-testing:20220729125644/test_dependabot_attributes/integration/pr1","ref":"20220729125644/test_dependabot_attributes/integration/pr1","sha":"46c796071b44c9556adfa99982b63dd7db63a8b3","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":515200050,"node_id":"R_kgDOHrVUMg","name":"functional-testing-repo-JulesVautier","full_name":"mergifyio-testing/functional-testing-repo-JulesVautier","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/us[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/220767/515200050?counter=8
  response:
    content: '[{"id":"ea737410-0f3d-11ed-83e7-2c2eb6fd60e3","type":"pull_request","payload":{"action":"opened","number":173,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/173","id":1011955622,"node_id":"PR_kwDOHrVUMs48UTem","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173.patch","issue_url":"https://api.github.com/repos/mergify[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/515200050/pulls?per_page=100
  response:
    content: '[{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/173","id":1011955622,"node_id":"PR_kwDOHrVUMs48UTem","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173.diff[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/515200050/pulls/173
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/pulls/173","id":1011955622,"node_id":"PR_kwDOHrVUMs48UTem","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/pull/173.diff","patch_u[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"c142bf45963c620a0b34ced9d5e6c94a52318525","size":291,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=20220729125644/test_dependabot_attributes/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/blob/20220729125644/test_dependabot_attributes/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/blobs/c142bf45963c620a0b34ced9d5e6c94a52318525","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-JulesVautier/20220729125644/test_dependabot_attributes/main/.mergify.yml","type":"file","content":"cHVsbF9yZXF1ZXN0X3J1bGVzOgotIGFjdGlvbnM6CiAgICBjb21tZW50Ogog\nICAgICBtZXNzYWdlOiBkZXBlbmRhYm90IHdhcyBoZXJlCiAgY29uZGl0aW9u\nczoKICAtIGRlcGVuZGFib3QtZGVwZW5kZW5jeS1uYW1lPWJvb3RzdHJhcAog\nIC0gZGVwZW5kYWJvdC1kZXBlbmRlbmN5LXR5cGU9IGRpcmVjdDpkZXZlbG9w\nbWVudAogIC0gZGVwZW5kYWJvdC11cGRhdGUtdHlwZT12ZXJzaW9uLXVwZGF0\nZTpzZW12ZXItbWlub3IKICBuYW1lOiBNZXJnZSBpZiBkZXBlbmRhYm90IHBy\nb3BlcnRpZXMgYXJlIGNoZWNrZWQK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=20220729125644/test_dependabot_attributes/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/git/blobs/c142bf45963c620a0b34ced9d5e6c94a52318525","html":"https://github.com/mergifyio-testing/functional-testing-repo-JulesVautier/blob/20220729125644/test_dependabot_attributes/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/commits/46c796071b44c9556adfa99982b63dd7db63a8b3/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=fe4c248b4b410ea0523bfb9b92eb9a8b0a9e08b1
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"c142bf45963c620a0b34ced9d5e6c94a52318525","size":291,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify.yml?ref=fe4c248b4b410ea0523bfb9b92eb9a8b0a9e08b[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-JulesVautier/contents/.mergify/config.yml?ref=fe4c248b4b410ea0523bfb9b92eb9a8b0a9e08b1
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 404
- request:
[...]
