interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":27094102,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/27094102/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/27094102","app_id":217024,"app_slug":"mergify-douglasblackwood","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"],"created_at":"2022-07-04T12:25:54.000Z","updated_at":"2022-07-19T15:11:03.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2022-10-17T12:46:47Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/510349721
  response:
    content: '{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/deployments","created_at":"2022-07-04T12:25:38Z","updated_at":"2022-07-04T12:25:38Z","pushed_at":"2022-11-04T12:41:25Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-DouglasBlackwood.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221104124126-test_command_queue
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221104124126-test_command_queue?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221104124126-test_command_queue?counter=3
  response:
    content: '[{"id":"01a4639a-5c3e-11ed-9b16-66db0e91042e","type":"push","payload":{"ref":"refs/heads/20221104124126/test_command_queue/main","before":"0000000000000000000000000000000000000000","after":"61358b122293d9858f6bf168fe083bebc5d46413","repository":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-tes[...]
- request:
    body: '{"default_branch": "20221104124126/test_command_queue/main"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood
  response:
    content: '{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/405[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221104124126-test_command_queue?counter=5
  response:
    content: '[{"id":"02bcd190-5c3e-11ed-8c64-e35597dfdd61","type":"repository","payload":{"action":"edited","changes":{"default_branch":{"from":"main"}},"repository":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_u[...]
[...]
- request:
    body: '{"base": "20221104124126/test_command_queue/main", "head": "mergifyio-testing:20221104124126/test_command_queue/integration/pr1",
      "title": "test_command_queue: pull request n1 from integration", "body": "test_command_queue:
      pull request n1 from integration", "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/648","id":1110778485,"node_id":"PR_kwDOHmtRmc5CNSJ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/648","number":648,"state":"open","locked":false,"title":"test_command_queue:
      pull request n1 from integration","user":{"login":"mergify-douglasblackwood[bot]","id":108674049,"node_id":"BOT_kgDOBno8AQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D","html_url":"https://github.com/apps/mergify-douglasblackwood","followers_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-douglasblackwood%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_command_queue:
      pull request n1 from integration","created_at":"2022-11-04T12:41:37Z","updated_at":"2022-11-04T12:41:37Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/648/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/648/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/issues/648/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/statuses/a800f828a1e9e5c2015e8f756cf3187c08d4965a","head":{"label":"mergifyio-testing:20221104124126/test_command_queue/integration/pr1","ref":"20221104124126/test_command_queue/integration/pr1","sha":"a800f828a1e9e5c2015e8f756cf3187c08d4965a","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221104124126-test_command_queue?counter=13
  response:
    content: '[{"id":"061dfdf0-5c3e-11ed-8e64-cb2eb43b50d5","type":"pull_request","payload":{"action":"opened","number":648,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/648","id":1110778485,"node_id":"PR_kwDOHmtRmc5CNSJ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648.patch","issue_url":"https://api.github.c[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/217024/510349721/20221104124126-test_command_queue?counter=17
  response:
    content: '[{"id":"084bda70-5c3e-11ed-8fbb-753e41870ac8","type":"check_suite","payload":{"action":"requested","check_suite":{"id":9129877302,"node_id":"CS_kwDOHmtRmc8AAAACIC7fNg","head_branch":"20221104124126/test_command_queue/integration/pr2","head_sha":"65421dd07b6146a4e44d34cc141d8de82e7fd8d9","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/check-suites/9129877302","before":"0000000000000000000000000000000000000000","after":"65421dd07b6146a4e44d34cc141d8de82e7fd8d9","pull_requests":[],"app":{"id":217024,"slug":"mergify-douglasblackwood","node_id":"A_kwHOAmplV84AA0_A","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-DouglasBlackwood","description":"Mergify
      testing installation for DouglasBlackwood","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-douglasblackwood","created_at":"2022-07-04T12:25:48Z","updated_at":"2022-07-04T12:25:48Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"]},"created_at":"2022-11-04T12:41:41Z","updated_at":"2022-11-04T12:41:41Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/check-suites/9129877302/check-runs","head_commit":{"id":"65421dd07b6146a4e44d34cc141d8de82e7fd8d9","tree_id":"8db3d1292ed2ab9e1c7dbf0095bc1c473ccfe7c0","message":"test_command_queue:
      pull request n2 from integration, moved","timestamp":"2022-11-04T12:41:39Z","author":{"name":"Mergify","email":"108674049+mergify-douglasblackwood[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108674049+mergify-douglasblackwood[bot]@users.noreply.github.com"}}},"repository":{"id":510349721,"node_id":"R_kgDOHmtRmQ","name":"functional-testing-repo-DouglasBlackwood","full_name":"mergifyio-testing/functional-testing-repo-DouglasBlackwood","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/[...]
[...]
- request:
    body: ''
    headers:
    method: PUT
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/650/merge
  response:
    content: '{"sha":"d2a99d8ebe681559793f3f81f0a5eae568a1529c","merged":true,"message":"Pull
      Request successfully merged"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/510349721/pulls/648
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pulls/648","id":1110778485,"node_id":"PR_kwDOHmtRmc5CNSJ1","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/pull/648.di[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"6d1275dd3c16670e25c1166614869c6e4450b818","size":117,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=20221104124126/test_command_queue/main","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/blob/20221104124126/test_command_queue/main/.mergify.yml","git_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/blobs/6d1275dd3c16670e25c1166614869c6e4450b818","download_url":"https://raw.githubusercontent.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/20221104124126/test_command_queue/main/.mergify.yml","type":"file","content":"cXVldWVfcnVsZXM6Ci0gY29uZGl0aW9uczoKICAtIHN0YXR1cy1zdWNjZXNz\nPWNvbnRpbnVvdXMtaW50ZWdyYXRpb24vZmFrZS1jaQogIG5hbWU6IGRlZmF1\nbHQKICBzcGVjdWxhdGl2ZV9jaGVja3M6IDUK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=20221104124126/test_command_queue/main","git":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/git/blobs/6d1275dd3c16670e25c1166614869c6e4450b818","html":"https://github.com/mergifyio-testing/functional-testing-repo-DouglasBlackwood/blob/20221104124126/test_command_queue/main/.mergify.yml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/commits/a800f828a1e9e5c2015e8f756cf3187c08d4965a/check-runs?per_page=100
  response:
    content: '{"total_count":0,"check_runs":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=antiope-preview; format=json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=ce5347ff279694c9018865ad55889bcc3fc52ac9
  response:
    content: '{"name":".mergify.yml","path":".mergify.yml","sha":"6d1275dd3c16670e25c1166614869c6e4450b818","size":117,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-DouglasBlackwood/contents/.mergify.yml?ref=ce5347ff279694c9018865ad55889bc[...]
- request:
    body: ''
    headers:
    method: GET
[...]
