interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/40527191/installation
  response:
    content: '{"id":26894537,"account":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/26894537/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/mergifyio-testing/settings/installations/26894537","app_id":214863,"app_slug":"mergify-sileht","target_id":40527191,"target_type":"Organization","permissions":{"pages":"write","checks":"write","issues":"write","members":"read","contents":"write","metadata":"read","statuses":"write","workflows":"write","merge_queues":"write","pull_requests":"write","administration":"read"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"],"created_at":"2022-06-27T12:22:13.000Z","updated_at":"2023-02-23T19:55:18.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user
  response:
    content: '{"login":"mergify-test1","id":38494943,"node_id":"MDQ6VXNlcjM4NDk0OTQz","avatar_url":"https://avatars.githubusercontent.com/u/38494943?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-test1","html_url":"https://github.com/mergify-test1","followers_url":"https://api.github.com/users/mergify-test1/followers","following_url":"https://api.github.com/users/mergify-test1/following{/other_user}","gists_url":"https://api.github.com/users/mergify-test1/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-test1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-test1/subscriptions","organizations_url":"https://api.github.com/users/mergify-test1/orgs","repos_url":"https://api.github.com/users/mergify-test1/repos","events_url":"https://api.github.com/users/mergify-test1/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-test1/received_events","type":"User","site_admin":false,"name":"mergify-test-user-1","company":"@mergifyio","blog":"https://mergify.io","location":null,"email":null,"hireable":null,"bio":"This
      account is for testing purpose of the workflow of the GitHub App @mergifyio","twitter_username":"mergifyio","public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2018-04-18T10:42:59Z","updated_at":"2023-02-25T15:44:42Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":0,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      X-OAuth-Scopes:
      - admin:org, delete_repo, read:public_key, repo, user, workflow
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
      Authorization:
      - <TOKEN>
    method: GET
    uri: https://api.github.com/repositories/399426199
  response:
    content: '{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","description":null,"fork":false,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht","forks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/forks","keys_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/teams","hooks_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/hooks","issue_events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/events{/number}","events_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/events","assignees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/assignees{/user}","branches_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/branches{/branch}","tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/tags","blobs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/refs{/sha}","trees_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/{sha}","languages_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/languages","stargazers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/stargazers","contributors_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contributors","subscribers_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscribers","subscription_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/subscription","commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits{/sha}","git_commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits{/sha}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/comments{/number}","issue_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/comments{/number}","contents_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/{+path}","compare_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/merges","archive_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/downloads","issues_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues{/number}","pulls_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls{/number}","milestones_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/milestones{/number}","notifications_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels{/name}","releases_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/releases{/id}","deployments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/deployments","created_at":"2021-08-24T10:36:34Z","updated_at":"2023-01-31T19:06:12Z","pushed_at":"2023-03-07T10:20:35Z","git_url":"git://github.com/mergifyio-testing/functional-testing-repo-sileht.git","ssh_url":"git@github.com:mergifyio-testing/functional-testing-repo-sileht.git","clone_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht.git","svn_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht","homepage":null,"size":25,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":6,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":2,"open_issues":6,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":true,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"}},"network_count":2,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: DELETE
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199/20230307102036-test_rebase_on_closed_pr_deleted_branch
  response:
    content: Event queued
    headers:
    status_code: 202
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199/20230307102036-test_rebase_on_closed_pr_deleted_branch?counter=1
  response:
    content: '[]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199/20230307102036-test_rebase_on_closed_pr_deleted_branch?counter=11
  response:
    content: '[{"id":"b64d0100-bcd1-11ed-96cc-23b249dea074","type":"check_suite","payload":{"action":"requested","check_suite":{"id":11398647965,"node_id":"CS_kwDOF87Cl88AAAACp2mQnQ","head_branch":"20230307102036/test_rebase_on_closed_pr_deleted_branch/main","head_sha":"1deb08ae0ddabba1bd22d5cfe866d01774dbe092","status":"queued","conclusion":null,"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/11398647965","before":"0000000000000000000000000000000000000000","after":"1deb08ae0ddabba1bd22d5cfe866d01774dbe092","pull_requests":[],"app":{"id":214863,"slug":"mergify-sileht","node_id":"A_kwHOAmplV84AA0dP","owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"name":"mergify-sileht","description":"Mergify
      testing installation for sileht","external_url":"https://mergify.com/","html_url":"https://github.com/apps/mergify-sileht","created_at":"2022-06-27T12:22:05Z","updated_at":"2023-02-21T07:51:11Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","merge_queues":"write","metadata":"read","pages":"write","pull_requests":"write","statuses":"write","workflows":"write"},"events":["check_run","check_suite","issue_comment","member","membership","organization","pull_request","pull_request_review","pull_request_review_comment","pull_request_review_thread","push","repository","status","team","team_add"]},"created_at":"2023-03-07T10:20:41Z","updated_at":"2023-03-07T10:20:41Z","rerequestable":true,"runs_rerequestable":true,"latest_check_runs_count":0,"check_runs_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/11398647965/check-runs","head_commit":{"id":"1deb08ae0ddabba1bd22d5cfe866d01774dbe092","tree_id":"a0ca865eb6c213c3675fb2a977ebe3cb7d0fd2d9","message":"initial
      commit","timestamp":"2023-03-07T10:20:38Z","author":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com"},"committer":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com"}}},"repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199/20230307102036-test_rebase_on_closed_pr_deleted_branch?counter=19
  response:
    content: '[{"id":"b5e1020c-bcd1-11ed-9a44-31b6d3203308","type":"push","payload":{"ref":"refs/heads/20230307102036/test_rebase_on_closed_pr_deleted_branch/main","before":"0000000000000000000000000000000000000000","after":"1deb08ae0ddabba1bd22d5cfe866d01774dbe092","repository":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"name":"mergifyio-testing","email":null,"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3M[...]
[...]
- request:
    body: '{"ref": "refs/heads/20230307102036/test_rebase_on_closed_pr_deleted_branch/integration/pr1",
      "before": "0000000000000000000000000000000000000000", "after": "7dbd60616f7590c84826521ab91d80ac0beb0a79",
      "repository": {"id": 399426199, "node_id": "MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=",
      "name": "functional-testing-repo-sileht", "full_name": "mergifyio-testing/functional-testing-repo-sileht",
      "private": false, "owner": {"name": "mergifyio-testing", "email": nu[...]
- request:
    body: '{"base": "20230307102036/test_rebase_on_closed_pr_deleted_branch/main",
      "head": "mergifyio-testing:20230307102036/test_rebase_on_closed_pr_deleted_branch/integration/pr1",
      "title": "test_rebase_on_closed_pr_deleted_branch: pull request n1 from integration",
      "body": "test_rebase_on_closed_pr_deleted_branch: pull request n1 from integration",
      "draft": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30144","id":1265987810,"node_id":"PR_kwDOF87Cl85LdXDi","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/30144","number":30144,"state":"open","locked":false,"title":"test_rebase_on_closed_pr_deleted_branch:
      pull request n1 from integration","user":{"login":"mergify-sileht[bot]","id":108276933,"node_id":"BOT_kgDOBnQsxQ","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergify-sileht%5Bbot%5D","html_url":"https://github.com/apps/mergify-sileht","followers_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/followers","following_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/repos","events_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/mergify-sileht%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"test_rebase_on_closed_pr_deleted_branch:
      pull request n1 from integration","created_at":"2023-03-07T10:20:49Z","updated_at":"2023-03-07T10:20:49Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30144/commits","review_comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30144/comments","review_comment_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/comments{/number}","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/30144/comments","statuses_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/statuses/7dbd60616f7590c84826521ab91d80ac0beb0a79","head":{"label":"mergifyio-testing:20230307102036/test_rebase_on_closed_pr_deleted_branch/integration/pr1","ref":"20230307102036/test_rebase_on_closed_pr_deleted_branch/integration/pr1","sha":"7dbd60616f7590c84826521ab91d80ac0beb0a79","user":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.github.com/users/mergifyio-testing/followers","following_url":"https://api.github.com/users/mergifyio-testing/following{/other_user}","gists_url":"https://api.github.com/users/mergifyio-testing/gists{/gist_id}","starred_url":"https://api.github.com/users/mergifyio-testing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mergifyio-testing/subscriptions","organizations_url":"https://api.github.com/users/mergifyio-testing/orgs","repos_url":"https://api.github.com/users/mergifyio-testing/repos","events_url":"https://api.github.com/users/mergifyio-testing/events{/privacy}","received_events_url":"https://api.github.com/users/mergifyio-testing/received_events","type":"Organization","site_admin":false},"repo":{"id":399426199,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk0MjYxOTk=","name":"functional-testing-repo-sileht","full_name":"mergifyio-testing/functional-testing-repo-sileht","private":false,"owner":{"login":"mergifyio-testing","id":40527191,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQwNTI3MTkx","avatar_url":"https://avatars.githubusercontent.com/u/40527191?v=4","gravatar_id":"","url":"https://api.github.com/users/mergifyio-testing","html_url":"https://github.com/mergifyio-testing","followers_url":"https://api.githu[...]
[...]
- request:
    body: '{"action": "requested", "check_suite": {"id": 11398650553, "node_id": "CS_kwDOF87Cl88AAAACp2mauQ",
      "head_branch": "20230307102036/test_rebase_on_closed_pr_deleted_branch/integration/pr1",
      "head_sha": "7dbd60616f7590c84826521ab91d80ac0beb0a79", "status": "queued",
      "conclusion": null, "url": "https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/check-suites/11398650553",
      "before": "0000000000000000000000000000000000000000", "af[...]
- request:
    body: whatdataisthat
    headers:
      X-Hub-Signature:
      - <SIGNATURE>
    method: GET
    uri: https://test-forwarder.mergify.io/events/github.com/214863/399426199/20230307102036-test_rebase_on_closed_pr_deleted_branch?counter=26
  response:
    content: '[{"id":"bb73d230-bcd1-11ed-82be-a6021a69deff","type":"pull_request","payload":{"action":"opened","number":30144,"pull_request":{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30144","id":1265987810,"node_id":"PR_kwDOF87Cl85LdXDi","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144.diff","patch_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144.patch","issue_url":"https://api.github.com/repos/mergifyio-testing/funct[...]
- request:
    body: '{"action": "opened", "number": 30144, "pull_request": {"url": "https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30144",
      "id": 1265987810, "node_id": "PR_kwDOF87Cl85LdXDi", "html_url": "https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144",
      "diff_url": "https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144.diff",
      "patch_url": "https://github.com/mergifyio-testing/functiona[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30145/commits?per_page=100
  response:
    content: '[{"sha":"a7c1e58f142559c25a1bb56222312a475d45241d","node_id":"C_kwDOF87Cl9oAKGE3YzFlNThmMTQyNTU5YzI1YTFiYjU2MjIyMzEyYTQ3NWQ0NTI0MWQ","commit":{"author":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com","date":"2023-03-07T10:20:51Z"},"committer":{"name":"Mergify","email":"108276933+mergify-sileht[bot]@users.noreply.github.com","date":"2023-03-07T10:20:51Z"},"message":"test_rebase_on_closed_pr_deleted_branch:
      pull request n2 from integration","tree":{"sha":"1bd53b0b49adebee4071a833d43247862e1dad55","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/trees/1bd53b0b49adebee4071a833d43247862e1dad55"},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/git/commits/a7c1e58f142559c25a1bb56222312a475d45241d","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/a7c1e58f142559c25a1bb56222312a475d45241d","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/commit/a7c1e58f142559c25a1bb56222312a475d45241d","comments_url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/commits/a7c1e58f142559c25a1bb56222312a475d45241d/comments","author":{"login":"mergify-sileht[bot]","id":108276933,"node_[...]
- request:
    body: '{"name": "merge", "color": "000000"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels
  response:
    content: '{"message":"Validation Failed","errors":[{"resource":"Label","code":"already_exists","field":"name"}],"documentation_url":"https://docs.github.com/rest/reference/issues#create-a-label"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 422
- request:
    body: '{"labels": ["merge"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/issues/30144/labels
  response:
    content: '[{"id":4917268726,"node_id":"LA_kwDOF87Cl88AAAABJReQ9g","url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/labels/merge","name":"merge","color":"000000","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repositories/399426199/pulls/30144
  response:
    content: '{"url":"https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/pulls/30144","id":1265987810,"node_id":"PR_kwDOF87Cl85LdXDi","html_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144","diff_url":"https://github.com/mergifyio-testing/functional-testing-repo-sileht/pull/30144.diff","patch_url":"https[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/mergifyio-testing/functional-testing-repo-sileht/contents/.mergify.yml?ref=20230307102036%2Ftest_rebase_on_closed_pr_deleted_branch%2Fmain
  response:
[...]
