name: Continuous Integration
permissions: read-all

on:
  pull_request:
    branches:
      - main

jobs:
  datadog:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.3.2
        with:
          python-version: 3.9.0
      - run: |
          bash -n datadog/prerun.sh
          pip install pyyaml
          python datadog/validate.py

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 12
      - run: |
          cd .github/actions/syncer && yarn install && yarn run eslint

  action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - run: |
          cd ./.github/actions/syncer
          yarn install
      - uses: ./.github/actions/syncer
        with:
          token-write: ${{ secrets.GITHUB_TOKEN }}
          token-read: ${{ secrets.GITHUB_TOKEN }}
          repository: mergify-engine

  no-submodule-change:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            var resp = await github.rest.pulls.listFiles({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: ${{ github.event.pull_request.number }},
              per_page: 100,
            });
            var files = resp.data;
            var filenames = files.map(file => file.filename);
            if (filenames.includes("mergify-engine")
                || filenames.includes("mergify-engine-signals")) {
              console.log("Changing submodule is forbidden!")
              process.exit(1);
            } else {
              console.log("No submodule changed")
            }
